node_modules
client/package-lock.json
server/package-lock.json
client/src/Pages/SearchPage/SearchPage.js
client/src/Pages/SearchItemPage/sample.json
client/src/Pages/SearchItemPage/sample2.json
client/src/Pages/SearchItemPage/SearchItemPage.js
client/src/Pages/SearchItemPage/SearchItemPage.module.scss