.custom-tooltip{
    background: gray;

}

.pieChart  {
    background-color: #cee9e5;
    width: 100%;
    // padding: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}