$cadet: #5d737eff;
$green-sheen: #64b6acff;
$celeste: #c0fdfbff;
$aero-blue: #daffefff;
$baby-powder: #fcfffdff;


$mint-cream: #f4fff8ff;
$pewter-blue: #8baaadff;

.main {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; // start at the bottom of the page
    align-items: center;
    // background-color:#5d737eff;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top
}

.container {
    width: 60%;
    height: auto; 
    background-color: white;
    max-height: 95%; // adjust the max-height so when new spans show up, wont push some content out of view
    overflow: hidden; // disable scrolling    
}

.content {
    padding: 50px;

    h1 {
        font-size: 3.5em;
    }

    label {
        font-weight: bold;
        font-size: 1.4em;
    }

    input {
        padding: 20px;
        width: 100%;
        margin-top: 20px;
        margin-bottom: 10px;
        border-radius: 5px;
        background-color: rgb(17, 17, 17, 0.1);
        appearance: none;
        background: none;
        outline: none;
    }

    input:not([type="submit"]) {
        box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
        transition: 0.4s;
        color: #222;
        font-size: 12px;
        font-weight: 350;
    }

    input:not([type="submit"])::placeholder {
        color: #222;
    }

    input:not([type="submit"]):focus::placeholder {
        opacity: 0;
    }

    input:not([type="submit"]):focus, input:not([type="submit"]):valid {
        box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
    }

    input:valid + span::before {
        content: '⚠ ';
        color: #d47c7c;
        animation: shake 0.2s ease-in-out 0s 2;
    }

    span {
        color: #d47c7c;
    }

    input[type="submit"] {
        width: 100%;
        padding: 20px;
        border-radius: 5px;
        border: 2px solid $cadet;
        background-color: #5d737eff;
        color: white;
        font-weight: bold;
        transition: 0.4s;
        font-size: 15px;
        cursor: pointer;
        text-shadow: black 0px 0px 2px;
    }

    input[type="submit"]:hover {
        color: $cadet;
        background-color: white;
        border: 2px solid $cadet;
        transition: all 0.6s ease;
        text-shadow: none;
    }
}

.loader::before {
    content: "";
    box-sizing: border-box;
    display: inline-block;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 12px solid white;
    border-top-color: transparent;
    animation: spinner 0.7s linear infinite;
}

@keyframes spinner {
    to {
        transform: rotate(360deg)
    }
}

@keyframes shake {
    0% { margin-left: 0rem; }
    25% { margin-left: 0.5rem; }
    75% { margin-left: -0.5rem; }
    100% { margin-left: 0rem; }
}